.section {
    text-align: center;
}
h1 {
    color: pink;
    margin-bottom: 25px;
    font-family: 'Baloo Bhaina', cursive;
}


p{
    background-color: #fc97e8;
    padding: 5px;
    border-radius: 20px;
}


body{
    background-color: aqua;
    margin:0;
    padding:0;
}

h2 {
    color: orange;
    background-color: teal;
    padding: 5px;
    border-radius: 900000px;
}

iframe {
    border: 7px solid #f4940e;
    margin-bottom: 25px
}

li{
    color:#3fef09;
    background: #f70469;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 24;
    border-radius:25px;
    margin-bottom: 10px
}

img{
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    
}
h3{
    font-family: 'Nova Oval', cursive;
    color: #777677;
}
h2:hover{
    background-color:orange;
    color:teal;
}
p:hover{
    color:#fc97e8;
    background-color:black;
}
li:hover{
    Background-color:#3fef09;
    color: #f70469;
}

h1#title{
    color:#d442f4;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 30px;
    text-align:Center;
}
.up{
    position: fixed;
    bottom:0;
    right: 0;
    margin: 0 15px 15px 0;
    border-radius: 5%;
    width: 60px;
    height: 60px;
    background: #FFF;
    border: 3px solid #000;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    text-align: center;
    padding-top: 15px;
    transition: all 0.3s ease-in-out;
}

nav {
    padding: 30px;
    text-align: center;
    background-color: #FFF;
}
nav a {
    font-family: 'Gloria Hallelujah', cursive;
    text-decoration: none;
    font-size: 30px;
    margin: 20px;
    color: #000;
    transition: all 0.3s ease-in-out;
}
nav a:hover {
    color: #f2b3de;
}