.section {
    text-align: center;
}
h1 {
    color: pink;
    margin-bottom 25px;
    font-family: 'Baloo Bhaina', cursive;
}


p{
    background-color: #fc97e8;
    padding: 5px;
    border-radius: 20px;
}


body{
    background-color: aqua;
}

h2 {
    color: orange;
    background-color: teal;
    padding: 5px;
    border-radius: 900000px;
}

iframe {
    border: 7px solid #f4940e;
    margin-bottom 25px
}

li{
    color:#3fef09;
    background: #f70469;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 24;
    border-radius:25px;
    margin-bottom: 10px
}

img{
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    
}
h3{
    font-family: 'Nova Oval', cursive;
    color: #777677;
}
#taylor:hover{
    background-color: blue;